#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 5%;
    min-height: 50vh;
  }
  
  .intro-title {
    font-family: "NTR", sans-serif;
    font-size: 3em;
  }
 
  
  .intro-subtitle {
    margin-top: -36px;
    font-family: "NTR", sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #c5f376;
  }
  
  .intro-desc {
    color: var(--slate);
    font-family: "NTR", sans-serif;
    font-size: 22px;
    text-align: justify;
    padding-bottom: 50px;
  }
  
  .intro-contact {
    font-size: 22px;
    font-weight: bolder;
    font-family: "NTR", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #c5f376;
    border-radius: 4px;
    justify-content: center;
    display: grid;
  }

  .intro-contact a {
    color: #c5f376;
  }
  
  b {
    font-size: 17px;
  }
  
  @media only screen and (max-width: 600px) {
    
  
    #intro {
      min-height: unset;
      padding-left: unset;
      margin: 0;
      align-items: center;
    }
  
    .intro-title {
      font-size: 46px;
    }
    .intro-name {
      font-size: 46px;
    }
  
    .Typist {
      font-size: 36px;
    }
  
    .intro-subtitle {
      margin: 0;
      font-size: 28px;
      text-align: center;
    }
  
    .intro-desc {
      font-size: 18px;
      text-align: center;
      max-width: unset;
      padding-bottom: 40px;
    }
  
    .intro-contact {
      width: 70px;
      font-size: 16px;
      align-self: center;
      margin-left: 30%;
    }

 
  }
  